
html{
    margin: 0 50px;
    background-color: rgb(53, 53, 53);
}

Header{
    border:solid;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: .2px;
    background-color: rgb(32, 32, 32);
    color: white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-color: black;
}

header h2 {
    margin-left: 0;
    text-shadow: 1px 1px 3px  lightseagreen;
}

h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    border:inset;
    border-width: 5px;
    border-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgb(0, 0, 71);
    border-radius: 20px;
    text-shadow: 2px 2px 2px  lightseagreen;
}

.column {
    float:left;
    display: 33.33%;
    padding: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

h2{
    Border: inset;
    border-width: 3px;
    margin-right: 800px;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 40px;
    background-color: rgb(0, 0, 85);
    color: rgb(255, 255, 255);
    border-color: black;
    text-shadow: 1px 1px 2px  lightseagreen;
}

h3{
    font-size: 20px;
    margin-left: 40px;
}

.column h3{
    text-align: center;
    font-style: italic;
    margin-left: 0;
    margin-top: -15px;
}

h4{
    text-align: center;
    font-size: 20px;
}


img {
    width: 300px;
    background-color:rgb(204, 204, 204);
}

body{
    margin: 20px 20px;
    background-image: linear-gradient(to right, teal, rgb(50, 110, 50));
    box-shadow: 0 5px 20px 0 black, 0 5px 20px 0 black;
    margin-top: -2px;
}

footer{
    padding-bottom: 15px;
}

footer a{
    color: black;
}

a:hover{
    color: white;
    transition: .2s ease-in ;
}

footer p{
    font-weight: bold;
}

img{
    border:solid;
    border-style:ridge;
    border-color: black;
    border-width: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 15px black;
}


.view{
    padding-left: 5px;
}

.view a{
    color: black;
}

 .view a:hover{
     color: white;
     transition: .2s ease-in;
 }

 b{
     margin-left: 40px;
 }

 section p{
     margin-left: 40px;
 }

 ul{
     margin-left: 30px;
 }

 li{
    margin-right: 550px;
 }

 .webpages {
     margin-left: 0px;
 }

 footer img{
     width: 75px;
     padding: 15px;
     border:hidden;

 }

.F-column {
    float:left;
    display: 33.33%;
    padding: 10px;
}

.F-row::after {
    content: "";
    display: table;
    clear: both;
}